body {
    background: #ffff;
    min-width: 1600px;
    max-width: 2000px;
    margin: 0 auto;
    align-items: center;
	background: #e3e3e3;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.conteiner {
    margin-left: 35px;
}
.formus{
	white-space: nowrap;
	max-width: 1500px;

	display: flex;
	position: relative;
	overflow: hidden;
	transition: all ease 1s;
	transition-duration: .2s;
	margin: 0 auto;
}
.pormus{
	align-content: center;
	word-wrap: normal;
	display: flex;
	margin: 0 auto;
	
}
.slider{
	max-width: 50%;
	max-height: 15%;
	align-content: center;
	margin: 0 auto;
}
.krut{

	display: flex;
	position: relative;
	transition: all ease 1s;
}
.levo,.pravo{
	max-width: 100px;
	max-height: 100px;
	background-color: aqua;
	border-radius: 10px;
}


.tablecon {
    background-color: rgb(212, 212, 212);
}



.slide {
	height: 100px;
	width: 250px;
}
